{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "airbnb-base",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".json"]
      }
    }
  },
  "rules": {
    "import/no-unresolved": [2, {"commonjs": true}],
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "ts": "never",
        "json": "never"
      }
    ]
  },
  "env": {
    "jest": true,
    "node": true
  }
}
